<head>
    <link rel="stylesheet" href="/css/header-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


</head>
  <footer>
    <div class="footer-brand">
      <h2><img src="/img/footer-logo.png" alt="logo of trenaura" style="height: 6rem; width:15rem"></h2>
      <p>Trenaura is your go-to destination for trendsetting fashion and beauty. Discover unique apparel, skincare, and lifestyle essentials — all curated to match your vibe. Shop bold. Glow bright. Express your aura.</p>
      <strong>Mananthavady, Wayanad, Kerala - 670644</strong>
    </div>
    <div class="footer-col">
      <h3 style="">SHOPPING</h3>
      <ul>
        <li><a href="#">Your cart</a></li>
        <li><a href="#">Your orders</a></li>
        <li><a href="#">Compared items</a></li>
        <li><a href="#">Wishlist items</a></li>
        <li><a href="#">Shipping detail</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h3>MORE LINK</h3>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Gift Center</a></li>
        <li><a href="#">Buying Guides</a></li>
        <li><a href="#">New Arrivals</a></li>
        <li><a href="#">Clearance</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h3>FOR CONSUMERS</h3>
      <ul>
        <li><a href="#">Shipping & Delivery</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Secure Payment Options</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Customer Support</a></li>
        <li><a href="#">Store Locations</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>