
<head>
  <link rel="stylesheet" href="/css/header-style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<header>
  
  <div class="header-top">
    <div class="logo">
      <a href="/">
        <img src="/img/logo.png" alt="Trenaura Logo">
      </a>
    </div>

    <div class="header-icons">
      {{#if isLoggedIn}}
        <a href="/myAccount" class="icon-link"><i class="fas fa-user"></i></a>
        <a href="/loadcartPage" class="icon-link">
          <i class="fas fa-shopping-bag"></i>
          <span id="cart-count" class="badge">{{cartLength}}</span>
        </a>
        <a href="/loadWishlist" class="icon-link">
          <i class="fas fa-heart"></i>
          <span id="wishlist-count" class="badge">{{wishlistCount}}</span>
        </a>
      {{else}}
        <a href="/login" class="login-btn">Login</a>
        <a href="/signup" class="signup-btn">Signup</a>
      {{/if}}

      <button class="header-toggle" id="header-toggle" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </div>

  <nav class="main-nav" id="mainNav">
    <ul class="nav-menu">
      <li><a href="/">HOME</a></li>
      <li><a href="/shop">SHOP</a></li>
      <li><a href="/aboutUs">ABOUT US</a></li>
    </ul>
  </nav>
</header>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const headerBtn = document.getElementById('header-toggle');
    const navMenu = document.getElementById('mainNav');

    headerBtn.addEventListener('click', function () {
      navMenu.classList.toggle('active');

      const icon = headerBtn.querySelector('i');
      if (navMenu.classList.contains('active')) {
        icon.classList.remove('fa-bars');
        icon.classList.add('fa-times');
      } else {
        icon.classList.remove('fa-times');
        icon.classList.add('fa-bars');
      }
    });
  });
</script>