  <head><link rel="stylesheet" href="css/myAccount.css" type="text/css"></head>
  
  <div class="container">
    <aside class="sidebar">
      <div class="user-info">
        {{!-- <img src="" alt="User Avatar" class="avatar"> --}}
        <h3>Hello {{name}}</h3>
      </div>

      <nav class="menu">
        <button onclick="window.location.href='/loadMyOrder'">My orders</button>
        <h4>Account Settings</h4>
        
        <button onclick="window.location.href='/myAccount'">Profile Information</a></button>
        <button onclick="window.location.href='/manageAddress'">Manage Addresses</button>
        <button onclick="window.location.href='/changePassword'">Change Password</button>

        <h4>My Stuffs</h4>
        <button onclick="window.location.href='/myCoupons'">My Coupons</button>
        
        <button onclick="window.location.href='/myWallet'">My Wallet</button>
        <form action="/logout" method="post">
        <button type="submit"  id="logout">Log out</button>
        </form>
      </nav>
    </aside>

  </div>
  