<head>
  <link rel="stylesheet" href="/css/adminDashboard.css" />

</head>



<main class="main-content">
  <header class="header">
    <h1>Admin Dashboard</h1>
      <div class="header-icons">
        {{!-- <input type="text" placeholder="Search...">
        <button type="submit" class="btn btn-success " style="height:2.1rem; border-radius: 25px; color:white; background-color:rgba(10, 10, 117, 0.79)" id="searchUserButton">Search</button> --}}
        <i class="fas fa-bell"></i>
        <i class="fas fa-envelope"></i>
        <img src="https://i.pravatar.cc/40" alt="Profile">
      </div>
  </header> 
</main>
 
