* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  background: #f5f6fa;
}

.container {
  display: flex;
}

.sidebar {
  width: 220px;
  background: white;
  min-height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

  overflow-y: auto;
  position: sticky;
  top: 0;
  height: 100vh;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
  
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #132043;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  text-decoration: none;
  color: #333;
  border-radius: 8px;
  margin-bottom: 10px;
}

.menu a.active, .menu a:hover {
  background: red;
  color: white;
}

.main-content {
  flex: 1;
  padding: 30px;
}