/* Change Password Box */
.password-box {
  background: #f5f5f5c1;
  padding: 30px;
  border-radius: 8px;
  max-width: 100%;
  
}

.password-box .form-group {
  margin-bottom: 20px;
}

.password-box label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.password-box input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.form-actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.save-btn {
  background-color: #3e16ff;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn {
  background-color: white;
  color: black;
  border: 1px solid #000;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
.forgot-password-link {
  text-align: right;
  margin-top: -10px;
  margin-bottom: 10px;
}

.forgot-password-link a {
  color: #e51b1b;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password-link a:hover {
  text-decoration: underline;
}
