* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  display: flex;
  flex-direction: row;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 700px;
  width: 100%;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.logo {
  text-align: center;
}

.logo h1 {
  font-size: 42px;
  font-weight: bold;
  color: #1e3a8a;
}

.logo p {
  font-size: 12px;
  letter-spacing: 2px;
  color: #3b82f6;
  margin-top: 5px;
}

.logoImg {
  height:15rem;
  width:20rem;
  margin-bottom: 2px;
}

.right {
  flex: 1;
  padding-left: 20px;
}

.right h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color:rgb(30, 55, 138 ,1) ;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  cursor: pointer;
}

.google-btn img {
  height: 20px;
  margin-right: 8px;
}

.google-btn a {
  color: #1e3a8a;
  font-weight: bold;
  text-decoration: none;
}
.google-btn a:hover {
  text-decoration: underline;
}


.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ccc;
}

.divider span {
  margin: 0 10px;
  color: #777;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.forgot-link {
  text-align: right;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.forgot-link a {
  color: red;
  text-decoration: none;
}

.forgot-link a:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #1e3a8a;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #162e6c;
}

.signup-link {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.signup-link a {
  color: #1e3a8a;
  font-weight: bold;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }
  .left, .right {
    padding: 0;
  }
}