<head>
<link rel="stylesheet" href="css/changePassword.css" type="text/css">

</head>

<div class="container">
 {{> user/sidebar }} 

  <div class="main-content">
    <h2>Change password</h2>
    <hr style="margin: 10px 0 20px;">

    <div class="password-box">
      <form action="/handleChangePassword" method="POST" id="changePasswordForm"> 
        <div class="form-group">
          <label for="currentPassword">Current password</label>
          <input type="password" id="currentPassword" name="currentPassword" placeholder="Enter current password" >
        </div>

        <div class="form-group">
          <label for="newPassword">New password</label>
          <input type="password" id="newPassword" name="newPassword" placeholder="Enter new password" >
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm password</label>
          <input type="text" id="confirmPassword" name="confirmPassword" placeholder="confirm new password" >
        </div>
        <div>
          
            <p class="error-message" id="errorMessage"></p>
        
        </div>

        <div class="form-actions">
          <button type="submit" class="save-btn">Save</button>
          <button type="button" class="cancel-btn" onclick="window.location.href='/myAccount'">Cancel</button>
        </div>
      </form>
      <div class="forgot-password-link">
          <a href="/forgotPassword-changePswrd">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>

<script src="js/changePassword.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

