<div class="container">

  <div class="easyzoom easyzoom--overlay" id="main-easyzoom">
    <a id="main-easyzoom-link" href="/images/{{product.productImages.[0]}}">
      <img id="main-product-image" style="height: 25rem; width:28rem" src="/images/{{product.productImages.[0]}}"
        alt="Zoomed Product Image" />
    </a>
    <div class="product-thumbnails" style="margin-top: 1rem; display: flex; gap: 10px;">
      {{#each product.productImages}}
      <img class="product-thumbnail" data-image="/images/{{this}}" src="/images/{{this}}"
        style="width: 60px; height: 60px; object-fit: cover; border: 1px solid #ccc; border-radius: 4px; cursor: pointer;"
        alt="Product Thumbnail" />
      {{/each}}
    </div>
  </div>
  <!-- Thumbnails of product-->



  <div class="product-details">
    <h1 class="product-title">{{product.productName}}</h1>
    <p class="product-price">&#x20b9;{{product.salePrice}}
      <span style="text-decoration: line-through; color: #888;">
        &#x20b9;{{product.regularPrice}}
      </span>
    </p>

    <div class="size-selection">
      <label for="size">Select Size</label>
      <div class="size-options">
        {{#each product.allVariants}}
        <div class="size-option">
          <button type="button" value="{{@key}}" {{#if (eq this 0)}}disabled{{/if}}>
            {{@key}}
          </button>
          {{#if (gt this 0)}}
          {{#if (lt this 6)}}
          <small style="color: red;">Only {{this}} left</small>
          {{else}}
          <small>{{this}} in stock</small>
          {{/if}}
          {{/if}}
        </div>
        {{/each}}
      </div>
    </div>

    {{#if (eq isOutOfStock false)}}

    <div>
      <button class="add-to-cart" onclick="addToCart(event,'{{product._id}}')">Add to Cart</button>
      <button class="add-to-cart" onclick="buyItNow(event,'{{product._id}}')">Buy it Now</button>

    </div>
    {{else}}
    <p style="color: red;">Out of of stock</p>

    {{/if}}
    <div class="product-info">
      <h3 style="color: black;">About this item</h3>
      <p>{{product.description}}</p>
    </div>
  </div>
</div>


<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <ul class="filter__controls">


          <li data-filter=".new-arrivals">Your Choices</li>

        </ul>
      </div>
    </div>
    <div class="row product__filter">
      {{#each products}}
      <div class="col-lg-3 col-md-6 col-sm-6 mix new-arrivals">
        <div class="product__item">
          <a href="/productDetails?id={{this._id}}">
            <div class="product__item__pic set-bg" data-setbg="/images/{{this.productImages.[0]}}">
              {{!-- <span class="label">New</span> --}}
              <ul class="product__hover">
                <li><button onclick="addWishlist(event,'{{this._id}}')"><img src="img/icon/heart.png" alt=""></button>
                </li>
                <li><img src="img/icon/compare.png" alt=""> <span>Compare</span></li>
                <li><img src="img/icon/search.png" alt=""></li>
              </ul>
            </div>
          </a>
          <div class="product__item__text">
            <h6>{{this.productName}}</h6>
            <a href="#" onclick="addToCarts(event,'{{this._id}}')" class="add-cart">+ Add To Cart</a>
            {{!-- <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div> --}}
            <h5>&#x20b9;{{this.salePrice}} <span
                style="text-decoration: line-through; color: #888;">&#x20b9;{{this.regularPrice}}</span> </h5>
          </div>
        </div>
      </div>
      {{/each}}


    </div>
  </div>
</section>