<head>
  <link rel="stylesheet" href="css/userLogin.css">
</head>

<div class="container">
    <!-- Left Side: Logo -->
    <div class="left">
      <div class="logo">
         <img src="img/trenauraLogoBlue.png" alt="Trenaura Logo" class="logoImg" >
      </div>
    </div>

    <!-- Right Side: Login Form -->
    <div class="right">
      <h1>Welcome Back</h1>

      <div class="google-btn">
        
        <a href="/auth/google"><img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google logo">
        Login with Google
        </a>
      </div>

      <div class="divider"><span>or</span></div>
      <form id="loginForm"  action="/login" method="post">
        <input type="hidden" value="{{{message}}}" id="message">
        <input type="hidden" value="{{{messages}}}" id="errorMessage">
        <input type="text" id="email" name="email" placeholder="Email" />
        <p class="error" id="emailError"></p>

        <input type="password" id="password" name="password" placeholder="Password" />
        <p class="error" id="passwordError"></p>
        <p class="error" id="mainError"></p>
        <div class="forgot-link">
          <a href="/forgotPassword">Forgot password?</a>
        </div>

        <button type="submit" class="login-btn">Login</button>
      </form>

      <div class="signup-link">
        New User? <a href="/signup">Sign up now.</a>
      </div>
    </div>
  </div>

  <script src="js/userLogIn.js"></script>


   