
<head>
  
    <link rel="stylesheet" href="/css/adminHeader.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
</head>

<div class="container">

  <aside class="sidebar">
    <div class="logo"><img src="/img/logo.png" alt="logo of trenaura" style="height: 2rem; width:10rem"></div>
    <nav class="menu">
      <a href="/admin/dashboard" ><i class="fas fa-home"></i> Dashboard</a>
      <a href="/admin/users"><i class="fas fa-box"></i> Customer</a>
      <a href="/admin/products"><i class="fas fa-tags"></i> Products</a>
      <a href="/admin/brand"><i class="fa fa-book fa-fw"></i> Brand</a>
      <a href="/admin/order"><i class="fas fa-chart-line"></i> Order</a>
      <a href="/admin/salesReport"><i class="fas fa-users"></i> Sales Report</a>
      <a href="/admin/coupon"><i class="fas fa-ticket-alt"></i> Coupon</a>
      <a href="/admin/category"><i class="fas fa-th-list"></i> Category</a>
      <a href="/admin/return-or-refund"><i class="fas fa-undo"></i> Refund/Return</a>
      <a href="/admin/logout"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
    </nav>
  </aside>

 
   
